* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #202020 !important;
    color: #ffffff !important;
}

canvas {
    border: 2px solid #222222;
    background-color: #525252;
}

.control-button {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    padding: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.mainBox {
    border: 2px solid #222222;
    background-color: #525252;
    text-align: center;
    width: 480px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.thumbnailFloat {
    float: left;
    display: inline-block;
    width: 300px;
    height: 312px;
}

.thumbnailImage {
    width: 290px;
    height: 244px;
    margin: 0;
    background-color: #525252;
}

.thumbnailHeader {
    font-size: 18px;
    color: #000;
    font-size: 14px;
}

.thumbnailAuthors {
    text-align: center;
    padding-top: 4px;
    color: #000;
    font-size: 13px;
}

.thumbnailBanner {
    height: 40px;
    background-color: rgba(255,255,255,0.7);
    padding: 6px;
    overflow: hidden;
}

.thumbnailLabels {
    display: inline-block;
    position: relative;
    padding-top: 177px;
    padding-left: 8px;
}

.thumbnailButton {
    width: 290px;
}

.mapLabel {
    display: inline-block;
    margin-top: 2px;
    padding-bottom: 3px;
}

.mapGamemode {
    font-size: 9px;
    color: #4a4a4a;
}

.gamemodeLink,
.gamemodeLink:focus,
.gamemodeLink:hover {
    color: #4a4a4a;
}



.btn-info-disabled {
  color: #fff;
  background-color: #9ac5d1;
  border-color: #a9b8bc;
}

.btn-info-disabled:focus,
.btn-info-disabled:hover, {
  color: #c6c6c6 !important;
  background-color: #82a8b2 !important;
  border-color: #909b9f !important;
}

.disable-text,
.disable-text:focus,
.disable-text:hover {
    color: #ffffff;
}

.container-non-responsive {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 970px;
}

.header {
    font-size: 38px;
    padding-left: 12px;
    padding-right: 12px;
}

.strikeThru {
    text-decoration: line-through;
    font-size: 26px;
    
}

.saltImage {
    width: 34px;
    height: 20px;
}

.label-desc {
    padding: 5.5px;
    margin-bottom: 6px;
}

.topMargin {
    padding-top: 6px;
}

.infoHeader {
    font-size: 18px;
    vertical-align: middle;
}

.description {
    font-size: 12px;
}

.black-font {
    color: #000000;
}

.thumbnail-hidden {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
